@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", "Roboto Condensed", "Opens Sans", sans-serif;
}

section {
  position: relative;
}

/*Navigation section starts here*/
nav {
  position: relative;
  @extend %flex-center;

  .navMainContainer {
    width: 100%;
    height: 80px;
    background-color: color(primary-white);
    box-shadow: 0 2px 8px color(light-purple);

    .logoLocationC {
      height: 80px;
      width: 80px;
      display: table;

      i {
        @extend %align-center;
        font-size: 70px;
        position: relative;
        color: color(primary-blue);

        .logoCar {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 12px;
          right: 20px;
          border-radius: 50%;
          background-color: color(primary-white);
          display: table;

          i {
            font-size: 24px;
            @extend %align-center;
            color: color(primary-purple);
          }
        }
      }
    }
  }
}

.logoNameC {
  position: absolute;
  left: 70px;
  font-size: 25px;
  font-weight: bolder;

  p:first-child {
    color: color(primary-purple);
  }

  p:last-child {
    color: color(primary-blue);
  }
}

.toggleNavContainer {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 70px;
  height: 70px;

  .navInnerContainer {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 10px solid color(lightest-blue);

    .navIconContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 75%;
      width: 75%;
      border-radius: 50%;
      background-color: color(primary-blue);
      @include transform(translate(-50%, -50%));

      .barContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        .line1,
        .line2,
        .line3 {
          height: 2px;
          border-radius: 50px;
          width: 25px;
          background-color: color(primary-white);
          margin: 5px 0;
          @include transition(0.5s);
        }
      }
    }
  }
}

.navInnerContainer-hover {
  animation-name: zoomOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes zoomOut {
  0% {
    background-color: color(primary-white);
    border: 10px solid color(primary-white);
  }

  100% {
    background-color: rgba(15, 172, 243, 0.3);
    border: 10px solid rgba(15, 172, 243, 0.3);
  }
}

.crossIcon .line1 {
  @include transform(translate(0px, 7px) rotate(-45deg));
}

.crossIcon .line2 {
  opacity: 0;
}

.crossIcon .line3 {
  @include transform(translate(0px, -7px) rotate(45deg));
}

/* Navigation section ends here */

/* Home section starts here */

.homeMain {
  background: url(../images/taxi-background1.png) no-repeat bottom;
  min-height: 100vh;

  .homeSection {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: rgba(15, 172, 243, 0.2);

    .homeMainContainer {
      @extend %flex-center;
      width: 95%;
      margin: auto;
      position: relative;
      top: 5%;
      justify-content: flex-start;
      align-content: flex-start;

      .getQuoteMainContainer {
        outline: none;
        box-shadow: shadow(main-shadow);
        background-color: color(primary-white);
        width: 500px;

        .getQuoteTopBanner {
          height: 50px;
          @extend %flex-center;
          background-color: color(primary-blue);
          color: color(font-blue);
          margin-bottom: 10px;
          font-size: 20px;

          h3 {
            margin-left: 15px;
          }
        }

        // Date
        .mainInputContainer {
          margin: 1px 15px 1px 15px;

          p {
            margin-left: 5px;
            margin-bottom: 1px;
            font-weight: bolder;
            color: color(font-blue);
          }

          .inputContainer {
            position: relative;
            background-color: color(light-grey);
            display: flex;
            align-items: center;

            .inputIconContainer {
              width: 40px;
              height: 40px;
              position: absolute;
              left: 10px;
              display: table;

              i {
                @extend %align-center;
                font-size: 22px;
                color: color(primary-grey);
                -webkit-text-stroke: 0.5px color(primary-white);
              }
            }

            .removeIconContainer {
              height: 40px;
              width: 20px;
              position: absolute;
              right: 15px;
              display: table;
              font-size: 24px;
              color: color(primary-grey);
              z-index: 99;

              i {
                @extend %align-center;
                -webkit-text-stroke: 2px color(primary-white);
              }

              i:hover {
                cursor: pointer;
              }
            }
          }
        }

        ::-webkit-inner-spin-button {
          display: none;
        }

        ::-webkit-calendar-picker-indicator {
          color: color(primary-grey);
          background-color: color(primary-white);
          width: 16px;
          height: 16px;
          margin-right: 30px;
        }

        ::-webkit-datetime-edit-fields-wrapper {
          font-family: "Open Sans", sans-serif;
          font-size: 1.1em;
        }

        ::-webkit-calendar-picker-indicator:hover {
          cursor: pointer;
        }

        ::-webkit-clear-button {
          display: none;
        }

        #time {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }

        select:required:invalid {
          color: gray;
        }

        option {
          color: black;
        }

        .getQuoteBtnContainer {
          @extend %flex-center;
          margin-top: 10px;

          .getQuoteButton {
            width: 80%;
            height: 45px;
            margin: auto;
            display: block;
            margin-bottom: 35px;
            margin-top: 5px;
            font-size: 1.1em;
            @extend %button-style;
          }

          .getQuoteButton:hover {
            position: relative;
            top: 2px;
            box-shadow: 0 3px color(font-blue);
          }
        }
      }
      .homeMessageContainer {
        width: 500px;
        position: absolute;
        right: 0;
        top: 0;
        color: color(font-blue);
        letter-spacing: 1px;
        line-height: 1.4;
        font-family: "Quicksand", "Open Sans", sans-serif;
        text-rendering: optimizeLegibility;
        font-size: 2.1em;
        font-weight: 700;
        display: table;
        margin-left: auto;
        margin-right: auto;
      }

      .homeMessageContainer:after {
        border-bottom: 4px solid color(primary-purple);
        content: "";
        display: block;
        width: 40%;
        border-radius: 2px;
        margin-top: 20px;
      }
    }
  }
}

.userInputAddress {
  width: 98%;
  margin: 1%;
  height: 50px;
  padding-left: 45px;
  border: 2px solid color(primary-input-grey);
  // border-radius: 25px;
}

.userInputAddress:focus {
  outline: none;
  border-style: none;
  border: 3px solid color(primary-blue);
  // @include transition(1s);
}

.userInput {
  width: 98%;
  margin: 1%;
  height: 50px;
  padding-left: 45px;
  border: 2px solid color(primary-input-grey);
  // border-radius: 25px;
}

.userInput:focus {
  outline: none;
  border-style: none;
  border: 3px solid color(primary-blue);
  // @include transition(1s);
}

.mainInputContainer {
  //border: 1px solid red;
  //margin: 1px 15px 5px 15px;
}

.mainInputContainer:nth-child(3) {
  width: 44%;
  margin: 1px 1px 5px 15px;
  float: left;
}

.mainInputContainer:nth-child(3) .userInput {
  width: 96%;
  margin: 2%;
}

.mainInputContainer:nth-child(4) .userInput {
  width: 96%;
  margin: 2%;
}

.mainInputContainer:nth-child(4) {
  width: 44%;
  margin: 1px 15px 5px 1px;
  float: right;
}

.getQuoteBtnContainer {
  clear: both;
}

#pickUpAddressValid {
  height: 18px;
  font-size: 15px;
  color: red;
}

#dropOffAddressValid {
  height: 18px;
  font-size: 15px;
  color: red;
}

#dateValid {
  height: 18px;
  font-size: 15px;
  color: red;
}

#timeValid {
  height: 18px;
  font-size: 15px;
  color: red;
}

.changeBgBlue {
  background-color: color(lightest-blue);
  @include transition(1s);
}

.changeBorderBlue {
  outline: none;
  border-style: none;
  border: 3px solid color(primary-blue);
}

.changeBgPurple {
  background-color: color(light-purple);
  @include transition(1s);
}

.changeBorderPurple {
  border: 3px solid color(primary-purple);
  // @include transition(1s);
}

/* Home section ends here */

/* Change google auto address complete default CSS */
.pac-container:after {
  background-image: none;
  height: 0px;
  padding: 0;
  margin: 0;
}

.pac-container {
  border-radius: 0;
  box-shadow: shadow(main-shadow);
  margin-top: 3px;
  border-top: 0px solid color(primary-white);
}

.pac-item:hover {
  background-color: color(primary-blue);
  color: color(primary-white);
  @include transition(1s);
}

.pac-item {
  border-top: 0.5px solid color(border-grey);
  height: 40px;
  @extend %flex-center;
  padding-left: 10px;
}

.pac-item:first-child {
  border-top: 0px solid color(primary-white);
}

/* Remove google address icons */
.pac-icon {
  display: none;
}

/* Journey details section starts here */

.journeyMain {
  width: 100%;
  height: 100vh;
  background-color: color(background-color);
  // display: none;
}

.editDetailContainer {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  display: table;
  height: 80px;
  line-height: 80px;
  width: 100%;
}

.editQuoteBtn {
  @extend %button-style;
  height: 40px;
  width: 200px;
  background: color(background-color);
  border: 1px solid color(primary-purple);
  box-shadow: 0 5px color(primary-purple);
  margin: auto;
  display: block;
}

.editQuoteBtn:hover {
  position: relative;
  top: 2px;
  box-shadow: 0 3px color(primary-purple);
}

.journeyMainSection {
  width: 95%;
  position: relative;
  top: 40px;
  margin: auto;
  @extend %flex-center;
  align-items: flex-start;

  .journeyDetailsDisplay {
    width: 48.5%;
    margin-right: 1.5%;
    height: 410px;
    position: relative;
    background-color: color(primary-white);
    border-left: 4px solid color(primary-blue);

    .timeLine {
      position: relative;
      height: 49px;
      width: 3px;
      left: 23px;
      top: 35px;
      z-index: 1;
      background-color: color(primary-purple);
    }

    .distanceMarkerContainer {
      width: 60px;
      position: absolute;
      top: 18px;
      left: 0px;
      @extend %flex-center;

      div {
        position: relative;
      }
    }

    .journeyDetailsInnerC {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .journeyDetailDisplay {
        @extend %journey-displays;
        @extend %flex-center;
        position: relative;

        .iconContainer {
          @extend %icon-container;
          z-index: 2;
          i {
            @extend %align-center;
          }
        }
      }

      .journeyDetailDisplay:nth-child(6) {
        border-bottom: 0px solid color(border-grey);
      }

      .distanceDisplay {
        @extend %journey-displays;
        @extend %flex-center;
        position: relative;

        .iconContainer {
          @extend %icon-container;

          i {
            @extend %align-center;
          }
        }
        button {
          padding: 5px 10px;
          @extend %button-style;
        }
      }
    }
  }
  .selectServiceContainer {
    width: 48.5%;
    margin-left: 1.5%;

    #packageInfo {
      @extend %flex-center;
      flex-direction: column;
      align-content: flex-end;

      article {
        width: 100%;
        margin: auto;
        height: 130px;
        background-color: color(primary-white);
        margin-bottom: 10px;
        border-bottom: 2px solid color(primary-blue);

        .serviceType {
          @extend %flex-center;
          height: 100%;
          position: relative;

          .fare {
            background-color: color(primary-blue);
            padding: 5px;
            font-size: 20px;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
          }

          .vehicleImage {
            width: 20%;
            height: auto;
            display: block;
            margin: 0 auto;
          }

          .serviceInfo {
            text-align: left;
            width: 70%;

            h1 {
              font-size: 1.2em;
              color: color(font-blue);
            }

            p {
              font-size: 1.2vmax;
              color: color(font-light-grey);
            }
          }
          .buttonContainer {
            @extend %flex-center;
            margin-top: 20px;

            div {
              position: relative;

              i {
                background-color: color(border-grey);
                color: color(primary-grey);
                padding-top: 5px;
                padding-bottom: 5px;
                width: 40px;
                border-radius: 2px;
                margin: auto;
                font-size: 16px;
                text-align: center;

                span {
                  font-family: "Roboto Condensed", sans-serif;
                }
              }
            }
            button {
              @extend %button-style;
              padding: 10px;
              display: block;
              width: 150px;
              position: absolute;
              right: 20px;
              bottom: 20px;
              box-shadow: 0 5px color(font-blue);
            }

            button:hover {
              box-shadow: 0 3px color(font-blue);
              bottom: 18px;
            }
          }
        }
      }
    }
  }
}

.car-side {
  position: relative;
  height: 30px;
  width: 15px;
  margin-left: 17px;
  background-image: url(../images/BlueCarTopView1.png);
  background-size: cover;
  background-position: center;
  animation: carmove 3s infinite;
  z-index: 3;
}

.journeyDetailHeading {
  border-bottom: 0.5px solid color(border-grey);
  height: 100%;
  width: 82%;
  display: table;

  div {
    color: color(font-blue);
    display: table-cell;
    vertical-align: middle;

    div {
      font-weight: bolder;
    }
  }
}

@keyframes carmove {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 58px;
  }
}
