/*Colors variables*/
nav .navMainContainer .logoLocationC i, nav .navMainContainer .logoLocationC i .logoCar i, main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .pickUpIconContainer i, main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick i, main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .dropOffIconContainer i, main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop i, .journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay .iconContainer i, .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay .iconContainer i, .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay .iconContainer i, .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay .iconContainer i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay, .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay, .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay, .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay, nav, main .homeSection .homeMainContainer, main .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteTopBanner, main .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteBtnContainer, .pac-item, .journeyDetailsDisplay .distanceMarkerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay, .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay, .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay, .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e5e5e5;
}

.journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay .iconContainer, .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay .iconContainer, .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay .iconContainer, .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay .iconContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #af81c9;
  display: table;
  margin-left: -13px;
  margin-right: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

section {
  position: relative;
}

/*Navigation section starts here*/
nav {
  position: relative;
}

nav .navMainContainer {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 8px #e8daef;
          box-shadow: 0 2px 8px #e8daef;
}

nav .navMainContainer .logoLocationC {
  height: 80px;
  width: 80px;
  display: table;
}

nav .navMainContainer .logoLocationC i {
  font-size: 70px;
  position: relative;
  color: #0facf3;
}

nav .navMainContainer .logoLocationC i .logoCar {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 12px;
  right: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  display: table;
}

nav .navMainContainer .logoLocationC i .logoCar i {
  font-size: 24px;
  color: #af81c9;
}

.logoNameC {
  position: absolute;
  left: 70px;
  font-size: 25px;
}

.logoNameC h4:first-child {
  color: #af81c9;
}

.logoNameC h4:last-child {
  color: #0facf3;
}

.toggleNavContainer {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 70px;
  height: 70px;
}

.toggleNavContainer .navInnerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 10px solid #a1defa;
}

.toggleNavContainer .navInnerContainer .navIconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  background-color: #0facf3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toggleNavContainer .navInnerContainer .navIconContainer .barContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toggleNavContainer .navInnerContainer .navIconContainer .barContainer .line1,
.toggleNavContainer .navInnerContainer .navIconContainer .barContainer .line2,
.toggleNavContainer .navInnerContainer .navIconContainer .barContainer .line3 {
  height: 2px;
  border-radius: 50px;
  width: 25px;
  background-color: #ffffff;
  margin: 5px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navInnerContainer-hover {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes zoomOut {
  0% {
    background-color: #ffffff;
    border: 10px solid #ffffff;
  }
  100% {
    background-color: rgba(15, 172, 243, 0.3);
    border: 10px solid rgba(15, 172, 243, 0.3);
  }
}

@keyframes zoomOut {
  0% {
    background-color: #ffffff;
    border: 10px solid #ffffff;
  }
  100% {
    background-color: rgba(15, 172, 243, 0.3);
    border: 10px solid rgba(15, 172, 243, 0.3);
  }
}

.crossIcon .line1 {
  -webkit-transform: translate(0px, 7px) rotate(-45deg);
  transform: translate(0px, 7px) rotate(-45deg);
}

.crossIcon .line2 {
  opacity: 0;
}

.crossIcon .line3 {
  -webkit-transform: translate(0px, -7px) rotate(45deg);
  transform: translate(0px, -7px) rotate(45deg);
}

main {
  background: url(../images/taxi-background.png) no-repeat center;
  min-height: 100vh;
}

main .homeSection {
  width: 100%;
  margin: auto;
}

main .homeSection .homeMainContainer {
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: rgba(15, 172, 243, 0.5);
  height: 100vh;
}

main .homeSection .homeMainContainer .getQuoteMainContainer {
  margin: 20px;
  outline: none;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 500px;
  height: 420px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteTopBanner {
  height: 60px;
  background-color: #0facf3;
  color: #fff;
  margin-bottom: 20px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteTopBanner h3 {
  margin-left: 15px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer {
  margin: 1px 15px 10px 15px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer p {
  margin-left: 20px;
  margin-bottom: 5px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .pickUpIconContainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  left: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: table;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .pickUpIconContainer i {
  font-size: 22px;
  color: #bbcddd;
  -webkit-text-stroke: 1px #ffffff;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick {
  height: 40px;
  width: 20px;
  position: absolute;
  top: 12px;
  right: 15px;
  display: table;
  font-size: 24px;
  color: #bbcddd;
  z-index: 99;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick i {
  -webkit-text-stroke: 3px #ffffff;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick i:hover {
  cursor: pointer;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer #pickUpAddressValid {
  height: 18px;
  font-size: 15px;
  color: #af81c9;
  margin-left: 20px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer {
  margin: 1px 15px 10px 15px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer p {
  margin-left: 20px;
  margin-bottom: 5px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .dropOffIconContainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  left: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: table;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .dropOffIconContainer i {
  font-size: 22px;
  color: #bbcddd;
  -webkit-text-stroke: 1px #ffffff;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop {
  height: 40px;
  width: 20px;
  position: absolute;
  top: 12px;
  right: 15px;
  display: table;
  font-size: 24px;
  color: #bbcddd;
  z-index: 99;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop i {
  -webkit-text-stroke: 3px #ffffff;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop i:hover {
  cursor: pointer;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer #dropOffAddressValid {
  height: 18px;
  font-size: 15px;
  color: #af81c9;
  margin-left: 20px;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteBtnContainer .getQuoteButton {
  min-width: 300px;
  height: 45px;
  border: 1px solid transparent;
  outline: none;
  margin: auto;
  background-color: #0facf3;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
  border: 7px solid #a1defa;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 1s;
  transition: 1s;
}

main .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteBtnContainer .getQuoteButton:hover {
  border: 7px solid #58c5f7;
}

/*Change google default CSS*/
.pac-container:after {
  background-image: none;
  height: 0px;
  padding: 0;
  margin: 0;
}

.pac-container {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3px;
  border-top: 0px solid #ffffff;
}

.pac-item:hover {
  background-color: #0facf3;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.pac-item {
  border-top: 0.5px solid #e5e5e5;
  height: 40px;
  padding-left: 10px;
}

.pac-item:first-child {
  border-top: 0px solid #ffffff;
}

/*Remove google address icons*/
.pac-icon {
  display: none;
}

.inputContainer {
  position: relative;
  background-color: #bbcddc4d;
  border-radius: 45px;
}

.userAddressInput {
  width: 97%;
  margin: 1.5%;
  height: 50px;
  padding-left: 45px;
  border: 1px solid #bbcddd;
  border-radius: 25px;
}

.userAddressInput:focus {
  outline: none;
  border-style: none;
  border: 1px solid #0facf3;
  -webkit-transition: 1s;
  transition: 1s;
}

.changeBgBlue {
  background-color: #a1defa;
  -webkit-transition: 1s;
  transition: 1s;
}

.changeBorderPurple {
  border: 1px solid #af81c9;
  -webkit-transition: 1s;
  transition: 1s;
}

.changeBgPurple {
  background-color: #e8daef;
  -webkit-transition: 1s;
  transition: 1s;
}

.journeyDetailsDisplay {
  width: 500px;
  height: 420px;
  margin: 20px;
  display: none;
  position: relative;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.journeyDetailsDisplay .timeLine {
  height: 100%;
  width: 4px;
  background-color: #0facf3;
  z-index: 100;
}

.journeyDetailsDisplay .distanceMarkerContainer {
  width: 60px;
  position: absolute;
  top: 18px;
  left: 0px;
}

.journeyDetailsDisplay .distanceMarkerContainer div {
  position: relative;
}

.journeyDetailsDisplay .journeyDetailsInnerC {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.car-side {
  position: relative;
  height: 30px;
  width: 15px;
  margin-left: -6px;
  background-image: url(../images/BlueCarTopView1.png);
  background-size: cover;
  background-position: center;
  -webkit-animation: carmove 3s infinite;
          animation: carmove 3s infinite;
  z-index: 3;
}

@-webkit-keyframes carmove {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 70px;
  }
}

@keyframes carmove {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 70px;
  }
}
/*# sourceMappingURL=taxihome.css.map */