/*Colors variables*/
.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay button, .journeyMainSection .selectServiceContainer #packageInfo article .serviceType .buttonContainer button {
  cursor: pointer;
  outline: none;
  background-color: #0facf3;
  border-style: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 20px;
}

nav .navMainContainer .logoLocationC i, nav .navMainContainer .logoLocationC i .logoCar i, .homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .pickUpIconContainer i, .homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick i, .homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .dropOffIconContainer i, .homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop i, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay .iconContainer i, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay .iconContainer i, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay .iconContainer i, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay .iconContainer i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay, nav, .homeMain .homeSection .homeMainContainer, .homeMain .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteTopBanner, .homeMain .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteBtnContainer, .pac-item, .journeyMainSection, .journeyMainSection .journeyDetailsDisplay .distanceMarkerContainer, .journeyMainSection .selectServiceContainer #packageInfo, .journeyMainSection .selectServiceContainer #packageInfo article .serviceType, .journeyMainSection .selectServiceContainer #packageInfo article .serviceType .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay {
  width: 100%;
  margin: auto;
  height: 15%;
  border-bottom: 0.5px solid #e5e5e5;
  color: #5d6b79;
}

.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay .iconContainer, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay .iconContainer, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay .iconContainer, .journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .timeDurationDisplay .iconContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #7a7a7a;
  display: table;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

section {
  position: relative;
}

/*Navigation section starts here*/
nav {
  position: relative;
}

nav .navMainContainer {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 8px #e8daef;
          box-shadow: 0 2px 8px #e8daef;
}

nav .navMainContainer .logoLocationC {
  height: 80px;
  width: 80px;
  display: table;
}

nav .navMainContainer .logoLocationC i {
  font-size: 70px;
  position: relative;
  color: #0facf3;
}

nav .navMainContainer .logoLocationC i .logoCar {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 12px;
  right: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  display: table;
}

nav .navMainContainer .logoLocationC i .logoCar i {
  font-size: 24px;
  color: #af81c9;
}

.logoNameC {
  position: absolute;
  left: 70px;
  font-size: 25px;
}

.logoNameC h4:first-child {
  color: #af81c9;
}

.logoNameC h4:last-child {
  color: #0facf3;
}

.toggleNavContainer {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 70px;
  height: 70px;
}

.toggleNavContainer .navInnerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 10px solid #a1defa;
}

.toggleNavContainer .navInnerContainer .navIconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  background-color: #0facf3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toggleNavContainer .navInnerContainer .navIconContainer .barContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toggleNavContainer .navInnerContainer .navIconContainer .barContainer .line1,
.toggleNavContainer .navInnerContainer .navIconContainer .barContainer .line2,
.toggleNavContainer .navInnerContainer .navIconContainer .barContainer .line3 {
  height: 2px;
  border-radius: 50px;
  width: 25px;
  background-color: #ffffff;
  margin: 5px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navInnerContainer-hover {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes zoomOut {
  0% {
    background-color: #ffffff;
    border: 10px solid #ffffff;
  }
  100% {
    background-color: rgba(15, 172, 243, 0.3);
    border: 10px solid rgba(15, 172, 243, 0.3);
  }
}

@keyframes zoomOut {
  0% {
    background-color: #ffffff;
    border: 10px solid #ffffff;
  }
  100% {
    background-color: rgba(15, 172, 243, 0.3);
    border: 10px solid rgba(15, 172, 243, 0.3);
  }
}

.crossIcon .line1 {
  -webkit-transform: translate(0px, 7px) rotate(-45deg);
  transform: translate(0px, 7px) rotate(-45deg);
}

.crossIcon .line2 {
  opacity: 0;
}

.crossIcon .line3 {
  -webkit-transform: translate(0px, -7px) rotate(45deg);
  transform: translate(0px, -7px) rotate(45deg);
}

/* Navigation section ends here */
/* Home section starts here */
.homeMain {
  background: url(../images/taxi-background1.png) no-repeat bottom;
  min-height: 100vh;
}

.homeMain .homeSection {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: rgba(15, 172, 243, 0.2);
}

.homeMain .homeSection .homeMainContainer {
  width: 95%;
  margin: auto;
  position: relative;
  top: 5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer {
  outline: none;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 500px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteTopBanner {
  height: 50px;
  background-color: #0facf3;
  color: #fff;
  margin-bottom: 10px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteTopBanner h3 {
  margin-left: 15px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer {
  margin: 1px 15px 5px 15px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer p {
  margin-left: 20px;
  color: #35424d;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .pickUpIconContainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  left: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: table;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .pickUpIconContainer i {
  font-size: 22px;
  color: #7a7a7a;
  -webkit-text-stroke: 1px #ffffff;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick {
  height: 40px;
  width: 20px;
  position: absolute;
  top: 12px;
  right: 15px;
  display: table;
  font-size: 24px;
  color: #7a7a7a;
  z-index: 99;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick i {
  -webkit-text-stroke: 3px #ffffff;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer .removeIconContainerPick i:hover {
  cursor: pointer;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .pickUpInputContainer #pickUpAddressValid {
  height: 18px;
  font-size: 15px;
  color: #af81c9;
  margin-left: 20px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer {
  margin: 1px 15px 5px 15px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer p {
  margin-left: 20px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .dropOffIconContainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  left: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: table;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .dropOffIconContainer i {
  font-size: 22px;
  color: #7a7a7a;
  -webkit-text-stroke: 1px #ffffff;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop {
  height: 40px;
  width: 20px;
  position: absolute;
  top: 12px;
  right: 15px;
  display: table;
  font-size: 24px;
  color: #7a7a7a;
  z-index: 99;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop i {
  -webkit-text-stroke: 3px #ffffff;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer .removeIconContainerDrop i:hover {
  cursor: pointer;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .dropOffInputContainer #dropOffAddressValid {
  height: 18px;
  font-size: 15px;
  color: #af81c9;
  margin-left: 20px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteBtnContainer {
  margin-top: 10px;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteBtnContainer .getQuoteButton {
  min-width: 300px;
  height: 43px;
  border: 1px solid transparent;
  outline: none;
  margin: auto auto 30px auto;
  background-color: #0facf3;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
  border: 7px solid #a1defa;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 1s;
  transition: 1s;
}

.homeMain .homeSection .homeMainContainer .getQuoteMainContainer .getQuoteBtnContainer .getQuoteButton:hover {
  border: 7px solid #58c5f7;
}

.inputContainer {
  position: relative;
}

.userAddressInput {
  width: 97%;
  margin: 1.5%;
  height: 50px;
  padding-left: 45px;
  border: 1px solid #7a7a7a;
}

.userAddressInput:focus {
  outline: none;
  border-style: none;
  border: 1px solid #0facf3;
  -webkit-transition: 1s;
  transition: 1s;
}

.changeBgBlue {
  background-color: #a1defa;
  -webkit-transition: 1s;
  transition: 1s;
}

.changeBorderPurple {
  border: 1px solid #af81c9;
  -webkit-transition: 1s;
  transition: 1s;
}

.changeBgPurple {
  background-color: #e8daef;
  -webkit-transition: 1s;
  transition: 1s;
}

/* Home section ends here */
/* Change google auto address complete default CSS */
.pac-container:after {
  background-image: none;
  height: 0px;
  padding: 0;
  margin: 0;
}

.pac-container {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3px;
  border-top: 0px solid #ffffff;
}

.pac-item:hover {
  background-color: #0facf3;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.pac-item {
  border-top: 0.5px solid #e5e5e5;
  height: 40px;
  padding-left: 10px;
}

.pac-item:first-child {
  border-top: 0px solid #ffffff;
}

/* Remove google address icons */
.pac-icon {
  display: none;
}

/* Journey details section starts here */
.journeyMain {
  width: 100%;
  height: 100vh;
  background-color: #f3fbfe;
}

.journeyMainSection {
  width: 95%;
  position: relative;
  top: 5%;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.journeyMainSection .journeyDetailsDisplay {
  width: 40%;
  height: 410px;
  position: relative;
  background-color: #ffffff;
  border-left: 4px solid #0facf3;
}

.journeyMainSection .journeyDetailsDisplay .timeLine {
  position: relative;
  height: 49px;
  width: 3px;
  left: 23px;
  top: 35px;
  z-index: 1;
  background-color: #af81c9;
}

.journeyMainSection .journeyDetailsDisplay .distanceMarkerContainer {
  width: 60px;
  position: absolute;
  top: 18px;
  left: 0px;
}

.journeyMainSection .journeyDetailsDisplay .distanceMarkerContainer div {
  position: relative;
}

.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .startLocationDisplay .iconContainer {
  z-index: 2;
}

.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .endLocationDisplay {
  z-index: 2;
}

.journeyMainSection .journeyDetailsDisplay .journeyDetailsInnerC .distanceDisplay button {
  padding: 5px 10px;
}

.journeyMainSection .selectServiceContainer {
  width: 60%;
}

.journeyMainSection .selectServiceContainer #packageInfo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.journeyMainSection .selectServiceContainer #packageInfo article {
  width: 90%;
  margin: auto;
  height: 130px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-bottom: 2px solid #0facf3;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType {
  height: 100%;
  position: relative;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .fare {
  background-color: #0facf3;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .vehicleImage {
  width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .serviceInfo {
  text-align: left;
  width: 70%;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .serviceInfo h1 {
  font-size: 1.2em;
  color: #35424d;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .serviceInfo p {
  font-size: 1.2vmax;
  color: #5d6b79;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .buttonContainer {
  margin-top: 20px;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .buttonContainer div {
  position: relative;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .buttonContainer div i {
  background-color: #e5e5e5;
  color: #7a7a7a;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40px;
  border-radius: 2px;
  margin: auto;
  font-size: 16px;
  text-align: center;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .buttonContainer div i span {
  font-family: "Roboto Condensed", sans-serif;
}

.journeyMainSection .selectServiceContainer #packageInfo article .serviceType .buttonContainer button {
  padding: 10px;
  display: block;
  width: 150px;
  position: absolute;
  right: 20px;
}

.car-side {
  position: relative;
  height: 30px;
  width: 15px;
  margin-left: 17px;
  background-image: url(../images/BlueCarTopView1.png);
  background-size: cover;
  background-position: center;
  -webkit-animation: carmove 3s infinite;
          animation: carmove 3s infinite;
  z-index: 3;
}

@-webkit-keyframes carmove {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 58px;
  }
}

@keyframes carmove {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 58px;
  }
}
/*# sourceMappingURL=taxihome.css.map */