* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Colors variables*/
$colors: (
  primary-blue: #0facf3,
  primary-purple: #af81c9,
  primary-grey: #bbcddd,
  primary-white: #ffffff,
  light-grey: #bbcddc4d,
  light-blue: lighten(#0facf3, 30%),
  light-purple: lighten(#af81c9, 25%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$shadows: (
  main-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
);

@function shadow($shadow-name) {
  @return map-get($shadows, $shadow-name);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

%align-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

%flex-center {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

%journey-displays {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid color(primary-blue);
  @extend %flex-center;
}

%icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: color(primary-purple);
  display: table;
  margin-left: -13px;
  margin-right: 10px;
  background-color: color(primary-white);
  box-shadow: shadow(main-shadow);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

section {
  position: relative;
}

/*Navigation section starts here*/
nav {
  position: relative;
  @extend %flex-center;

  .navMainContainer {
    width: 100%;
    height: 80px;
    background-color: color(primary-white);
    // box-shadow: 0 2px 8px #ecdef4;
    box-shadow: 0 2px 8px color(light-purple);

    .logoLocationC {
      height: 80px;
      width: 80px;
      display: table;

      i {
        @extend %align-center;
        font-size: 70px;
        position: relative;
        color: color(primary-blue);

        .logoCar {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 12px;
          right: 20px;
          border-radius: 50%;
          background-color: color(primary-white);
          display: table;

          i {
            font-size: 24px;
            @extend %align-center;
            color: color(primary-purple);
          }
        }
      }
    }
  }
}

.logoNameC {
  position: absolute;
  left: 70px;
  font-size: 25px;

  h4:first-child {
    color: color(primary-purple);
  }

  h4:last-child {
    color: color(primary-blue);
  }
}

.toggleNavContainer {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 70px;
  height: 70px;

  .navInnerContainer {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 10px solid color(light-blue);

    .navIconContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 75%;
      width: 75%;
      border-radius: 50%;
      background-color: color(primary-blue);
      @include transform(translate(-50%, -50%));

      .barContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        .line1,
        .line2,
        .line3 {
          height: 2px;
          border-radius: 50px;
          width: 25px;
          background-color: color(primary-white);
          margin: 5px 0;
          @include transition(0.5s);
        }
      }
    }
  }
}

.navInnerContainer-hover {
  animation-name: zoomOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes zoomOut {
  0% {
    background-color: color(primary-white);
    border: 10px solid color(primary-white);
  }

  100% {
    background-color: rgba(15, 172, 243, 0.3);
    border: 10px solid rgba(15, 172, 243, 0.3);
  }
}

.crossIcon .line1 {
  @include transform(translate(0px, 7px) rotate(-45deg));
}

.crossIcon .line2 {
  opacity: 0;
}

.crossIcon .line3 {
  @include transform(translate(0px, -7px) rotate(45deg));
}

main {
  background: url(../images/passanger1.png) no-repeat center;
  min-height: 100vh;

  .homeSection {
    width: 95%;
    margin: auto;

    .homeMainContainer {
      @extend %flex-center;
      width: 100%;
      position: relative;
      top: 30px;
      justify-content: center;

      .getQuoteMainContainer {
        margin: 20px;
        outline: none;
        box-shadow: shadow(main-shadow);
        background-color: rgba(255, 255, 255, 0.95);
        width: 500px;
        height: 420px;

        .getQuoteTopBanner {
          height: 60px;
          @extend %flex-center;
          background-color: color(primary-blue);
          color: #fff;
          margin-bottom: 20px;

          h3 {
            margin-left: 15px;
          }
        }

        .pickUpInputContainer {
          margin: 1px 15px 10px 15px;

          p {
            margin-left: 20px;
            margin-bottom: 5px;
          }

          .pickUpIconContainer {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 14px;
            left: 10px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            display: table;

            i {
              @extend %align-center;
              font-size: 22px;
              color: color(primary-grey);
              -webkit-text-stroke: 1px color(primary-white);
            }
          }

          .removeIconContainerPick {
            height: 40px;
            width: 20px;
            position: absolute;
            top: 12px;
            right: 15px;
            display: table;
            font-size: 24px;
            color: color(primary-grey);
            z-index: 99;

            i {
              @extend %align-center;
              -webkit-text-stroke: 3px color(primary-white);
            }
          }

          #pickUpAddressValid {
            height: 18px;
            font-size: 15px;
            color: color(primary-purple);
            margin-left: 20px;
          }
        }

        .dropOffInputContainer {
          margin: 1px 15px 10px 15px;

          p {
            margin-left: 20px;
            margin-bottom: 5px;
          }

          .dropOffIconContainer {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 14px;
            left: 10px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            display: table;

            i {
              @extend %align-center;
              font-size: 22px;
              color: color(primary-grey);
              -webkit-text-stroke: 1px color(primary-white);
            }
          }

          .removeIconContainerDrop {
            height: 40px;
            width: 20px;
            position: absolute;
            top: 12px;
            right: 15px;
            display: table;
            font-size: 24px;
            color: color(primary-grey);
            z-index: 99;

            i {
              @extend %align-center;
              -webkit-text-stroke: 3px color(primary-white);
            }
          }

          #dropOffAddressValid {
            height: 18px;
            font-size: 15px;
            color: color(primary-purple);
            margin-left: 20px;
          }
        }

        .getQuoteBtnContainer {
          @include transition(background-color 1s);
          width: 300px;
          margin-left: 15px;
          background-color: color(light-blue);
          border-radius: 45px;

          .getQuoteButton {
            min-width: 286px;
            height: 50px;
            border: 1px solid transparent;
            outline: none;
            margin: 7px;
            background-color: color(primary-blue);
            box-shadow: shadow(main-shadow);
            color: color(primary-white);
            font-size: 20px;
            font-weight: bold;
            border-radius: 45px;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*Remove powered by google image*/
.pac-container:after {
  background-image: none;
  height: 0px;
  padding: 0;
  margin: 0;
}

.pac-container {
  border-radius: 0;
  box-shadow: shadow(main-shadow);
  margin-top: 3px;
  border-top: 0px solid color(primary-white);
}

.pac-item:hover {
  background-color: color(primary-blue);
  color: color(primary-white);
  @include transition(1s);
}

.pac-item {
  border-top: 0.5px solid color(primary-grey);
  height: 40px;
  @extend %flex-center;
  padding-left: 10px;
}

.pac-item:first-child {
  border-top: 0px solid color(primary-white);
}

/*Remove google address icons*/
.pac-icon {
  display: none;
}

.inputContainer {
  position: relative;
  background-color: color(light-grey);
  border-radius: 45px;
}

.userAddressInput {
  width: 97%;
  margin: 1.5%;
  height: 50px;
  padding-left: 45px;
  border: 1px solid color(primary-grey);
  border-radius: 25px;
}

.userAddressInput:focus {
  outline: none;
  border-style: none;
  border: 1px solid color(primary-blue);
  @include transition(1s);
}

.changeBgBlue {
  background-color: color(light-blue);
  @include transition(1s);
}

.changeBorderPurple {
  border: 1px solid color(primary-purple);
  @include transition(1s);
}

.changeBgPurple {
  background-color: color(light-purple);
  @include transition(1s);
}

.journeyDetailsDisplay {
  width: 500px;
  height: 420px;
  margin: 20px;
  position: relative;
  /*	visibility: hidden;*/
  box-shadow: shadow(main-shadow);
  background-color: rgba(255, 255, 255, 0.95);

  .timeLine {
    height: 100%;
    width: 4px;
    background-color: color(primary-blue);
  }

  .distanceMarkerContainer {
    width: 60px;
    position: absolute;
    top: 18px;
    left: 0px;
    @extend %flex-center;

    div {
      position: relative;
    }
  }

  .journeyDetailsInnerC {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .startLocationDisplay {
      @extend %journey-displays;
      @extend %flex-center;

      .iconContainer {
        @extend %icon-container;

        i {
          @extend %align-center;
        }
      }
    }

    .endLocationDisplay {
      @extend %journey-displays;
      @extend %flex-center;

      .iconContainer {
        @extend %icon-container;

        i {
          @extend %align-center;
        }
      }
    }

    .distanceDisplay {
      @extend %journey-displays;
      @extend %flex-center;

      .iconContainer {
        @extend %icon-container;

        i {
          @extend %align-center;
        }
      }
    }

    .timeDurationDisplay {
      @extend %journey-displays;
      @extend %flex-center;

      .iconContainer {
        @extend %icon-container;

        i {
          @extend %align-center;
        }
      }
    }
  }
}

.car-side {
  position: relative;
  height: 30px;
  width: 15px;
  margin-left: -6px;
  background-image: url(../images/BlueCarTopView1.png);
  background-size: cover;
  background-position: center;
  animation: carmove 3s infinite;
  z-index: 3;
}

@keyframes carmove {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 70px;
  }
}
