/*Colors variables*/
$colors: (
  primary-blue: #0facf3,
  primary-purple: #af81c9,
  primary-grey: #7a7a7a,
  primary-input-grey: #26292c,
  primary-white: #ffffff,
  border-grey: #e5e5e5,
  background-color: #f3fbfe,
  font-blue: #162a3a,
  font-light-grey: #5d6b79,
  lightest-blue: lighten(#0facf3, 30%),
  lighter-blue: lighten(#0facf3, 15%),
  light-purple: lighten(#af81c9, 25%),
  warning-red: #e4134f,
  light-red: lighten(#e4134f, 45%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$shadows: (
  main-shadow: 0 2px 8px rgba(0, 0, 0, 0.1),
);

@function shadow($shadow-name) {
  @return map-get($shadows, $shadow-name);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

%button-style {
  border: 1px solid transparent;
  outline: none;
  background-color: color(primary-blue);
  border-style: none;
  box-shadow: 0 5px color(font-blue);
  cursor: pointer;
  color: color(font-blue);
  font-weight: bold;
}

%align-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

%flex-center {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

%journey-displays {
  width: 100%;
  margin: auto;
  height: 16.66%;
  // border-bottom: 0.5px solid color(border-grey);
  color: color(font-light-grey);
  @extend %flex-center;
}

%icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: color(primary-grey);
  display: table;
  margin-left: 10px;
  margin-right: 10px;
  background-color: color(border-grey);
  // box-shadow: shadow(main-shadow);
}
